.container{
    padding-top: 50px;
}
.tb{
    padding: 10px;
}

#card div{
    border: 2px solid black;
    border-radius: 12px;
    margin: 10px;
}
#card span h5{
    padding-right: 10px;
}
#card button{
    padding: 10px;
    border: 2px solid blue;
}
#card button:hover{
    transition: 2s;
    transform: translateX(10px);
    background-color: blue;
    color: #ffffff;
}