*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    /* border: 1px solid red; */
}

.navbar{
    padding-top: 5px;
    padding-bottom: 5px;
    position: sticky;
    top: 0px;
    left: 0px;
    z-index: 1;
}
.nn a h4{
    padding-left: 10px;
}
@media (max-width:376px) {
    nav .nn a h4{
        display: none;
    }
    .sec1 .part1{
        padding-top: 5rem;
        padding-left: 20px;
    }
}
@media (max-width: 426px) {
    nav{
        padding: 10px;
    }
    .sec1 .part1{
        padding-top: 5rem;
        padding-left: 20px;
    }
}
.navbar-nav li{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 20px;
    font-size: 20px;
    font-weight: 500;
    transition: transform 0.3s ease;
}
.navbar-nav li:hover{
    transform: translateY(-10px); 
}
.navbar-nav li .nav-link:hover{
    color: blue;
}
.navbar-nav .butt{
    padding-top: 1px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 0px;
    margin-bottom: 10px;
    border: 1px solid blue;
    border-radius: 9px;
    background-color: blue;
}
.log{
    display: none;
}
.navbar-nav .butt a:hover{
    transition: 1s;
    cursor: pointer;
    color: white;
}
.butt .logout{
    padding: 10px;
}
.navbar-nav .butt :hover{
    transition: 1s;
    cursor: pointer;
    color: white;
}
.sec1{
    background-image: url("img/bg1.jpg");
    z-index: -1;
    width: 101.9%;
    height: 485px;
    background-position: top;
    background-repeat: no-repeat;
}
.part1{
    padding-left: 70px;
    padding-top: 8rem;
}
.part1 .row h1{
    margin-bottom: 20px;
    font-weight: bold;
}
.part1 .row p{
    padding-left: 10px;
    margin-bottom: 30px;
    font-size: 20px;
}
.but{
    padding: 10px 0px;
    margin-left: 20px;
    font-size: 20px;
    border: 2px solid blue;
    border-radius: 12px;
}
.but:hover{
    transition: 3s;
    background-color: blue;
    color: #ffffff;
}

.part2{
    padding-top: 70px;
    padding-bottom: 20px;
    background-color: #ffffff;
}
.ei{
    font-family: "Playfair Display", serif;
    font-weight: bolder;
}
.pa{
    padding-left: 30px;
    padding-top: 20px;
    color:rgb(145, 145, 145) ;
}
.cc{
    justify-content: space-around;
    padding-top: 50px;
}
.cc .ac {
    width: 300px;
    height: 300px;
    padding: 15px;
    margin-bottom: 20px;
    background-color: white;
    border: 1px solid rgb(167, 167, 167);
}
.ac i{
    padding: 10px;
    background:rgb(207, 207, 207)  ;
    border-radius: 50px;
}
.ac h2{
    font-family: "Playfair Display", serif;
    font-size: 23px;
    font-weight: bold;
}
.ac p{
    color:rgb(145, 145, 145)  ;
}
.ac .co{
    color: #000000;
    font-family: "Playfair Display", serif;
}
.ac .il{
    width: 20%;
    border: 2px solid #000000;
    border-radius: 50px;
}
.b{
    width: 90%;
}

.section3{
    padding-top: 30px;
    padding-bottom: 20px;
    background-color: rgb(240, 240, 240);
}
.part3{
    padding-top: 30px;
    padding-bottom: 20px;
    font-size: 18px;
}
.row .inpt{
    padding: 10px;
    border: 1px solid blue;
    border-radius: 12px;
}
.select{
    padding: 10px;
    padding-right: 30px;
    border: 1px solid blue;
    border-radius: 12px;
}
.fm div{
    margin-bottom: 25px;
    align-items: center;
    justify-content: center;
}
.fm div input{
    padding: 10px;
    border: 2px solid black;
}
.fm div input:hover{
    transition: 0.3s;
    border: 2px solid blue;
    cursor: default;
}
.doc select{
    padding: 10px;
    border: 2px solid black;
}
.doc select:hover{
    transition: 0.3s;
    border: 2px solid blue;
    cursor: default;
}
.doc textarea{
    padding: 0px;
    padding-top: 2px;
    padding-left: 10px;
    border: 2px solid black;
}
.doc textarea:hover{
    transition: 0.3s;
    border: 2px solid blue;
    cursor: default;
}
.part3 .disease{
    margin-top: 20px;
    text-align: center;
}
.disease div{
    text-align: center;
}
.disease h5{
    margin-bottom: 30px;
}
.disease div{
    margin-bottom: 10px;
}
.disease .sub{
    margin-top: 20px;
}
.part6{
    width: 100%;
    padding-top: 60px;
    padding-bottom: 30px;
    background-color:rgb(239, 239, 239);
    background-image: url("img/bg_2.png");
    background-position: right;
}
.cir{
    width: 100px;
    height: 100px;
    border-radius: 50px;
}
.part7{
    width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
    color: #ffffff;
    background-repeat: no-repeat;
    background: url(img/ope.jpg);
    background-position: center;
    background-image: linear-gradient(
    rgba(9, 4, 147, 0.527),
    rgba(3, 14, 141, 0.445)), url("img/ope.jpg");
}
.part8{
    width: 100%;
    padding-top: 20px;
    padding-bottom: 40px;
}
.sd>.sc{
    width: 370px;
    padding-bottom: 40px;
    font-family: Playfair Display, serif;
}
.sc>img{
    width: 100%;
    height: 70%;
}
.sc>h5:hover{
    color: rgb(49, 49, 222);
}
.bb{
    padding-left: 20px;
}
.lb:hover{
    color: rgb(49, 49, 222);
}
@media (max-width:426px) {
    label .ln{
    margin-top: 0px;
    }
    .disease div{
    text-align: left;
    }
}
.sec2{
    padding-top: 40px;
    padding-bottom: 20px;
    color: #ffffff;
    background-color: rgb(79, 138, 211);
}
.about p{
    padding-top: 40px;
}
.pic img{
    height: 400px;
    width: 300px;
    background-position: right;
}
@media (max-width:769px) {
    .pic img{
        height: 250px;
        width: 200px;
    }
}

footer{
    padding: 20px;
    text-align: center;
}